<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form method="post" action="/login">
    <label>Username:</label><br>
    <input type="text" name="username"><br><br>

    <label>Password:</label><br>
    <input type="password" name="password"><br><br>

    <button type="submit">Login</button>
</form>

<!--***********************************-->
<!--Account details for testing purpose-->
<!--***********************************-->
<p>***********************************</p>
<p>Account details for testing purpose</p>
<p>***********************************</p>
<p>Tester: tester / tester123</p>
<p>Developer: developer / dev123</p>


</body>
</html>
